-metadata :date => '05/30/2011', 
          :title => 'Test Document 01', 
          :author => 'Alexey Artamonov', 
          :tags => %w{category1 category2}

// post body
%p 
  Placerat varius purus imperdiet magnis per, etiam ultrices aliquet fames aptent felis 
  malesuada amet curae;, massa vehicula auctor in quisque integer rhoncus dis.

-cutting__________________________________

%p
  Neque molestie maecenas, in torquent Ultrices commodo tempor, sociosqu volutpat massa 
  cras nunc aptent natoque curabitur eleifend nullam semper blandit a habitant. Venenatis 
  felis commodo magnis eu commodo sagittis maecenas convallis convallis. Fames lobortis 
  quisque ac cras dui viverra imperdiet dapibus convallis. Sollicitudin condimentum.

%p
  Diam lobortis adipiscing a lobortis nisi libero scelerisque. Magnis id suspendisse rhoncus. 
  Molestie nisl non. Risus Potenti convallis nonummy sollicitudin aenean. Per lorem varius 
  ac rutrum Interdum consequat vestibulum praesent. Habitant faucibus leo.

