-metadata :date => '05/29/2011', 
          :title => 'Test Document 02', 
          :author => 'Alexey Artamonov', 
          :tags => %w{category1}

// post body
%p 
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dignissim diam fermentum
  dolor porta sed feugiat nisi vulputate. Aliquam vestibulum nibh sed leo ullamcorper tempus
  sed vel enim. Cras nec erat eu mauris varius scelerisque et sed metus. Donec sodales porttitor
  lorem, ut posuere dolor sodales pellentesque. Donec dictum libero eget arcu sagittis placerat.
  Nam sed lacus ut nunc lobortis bibendum quis sed neque. Praesent placerat, mi quis ultricies 
  suscipit, tellus quam malesuada urna, vitae egestas urna dolor sit amet neque. 
  Suspendisse varius mauris sapien. Integer eu arcu sit amet odio sodales lacinia. Aliquam elit 
  nulla, cursus pulvinar luctus a, vulputate nec ligula. Praesent sem tellus, feugiat vel viverra 
  in, pharetra ultricies nisi. Etiam in odio mauris. Morbi facilisis, velit vitae vulputate 
  scelerisque, purus est semper libero, aliquam dictum sapien neque in magna. Praesent velit 
  turpis, feugiat et scelerisque at, vestibulum non massa. Nulla facilisi. 
